* {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  top: 0;
  padding-top: 5px;
  padding-bottom: 8px;
  box-shadow: 0 10px 20px #dfdfdf;
  border-radius: 0 0 6px 6px;
}

.navbar ul {
  align-items: center;
  display: flex;
}

.navbar li {
  font-size: 1.3rem;
  list-style: none;
  margin-left: 10px;
  color: #181818;
  font-weight: 600;
}

.navbar img {
  margin-top: 10px;
  margin-left: 15px;
  width: 50px;
  height: 50px;
  padding: 0;
}
