.tasks {
  position: relative;
}

.show-one-task {
  background-color: #dfdfdf;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #181818;
  align-items: center;
  font-size: 1.1rem;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.show-one-task p {
  background: transparent;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-one-task:hover {
  background-color: #ffffff;
}

.controls {
  background: transparent;
  display: flex;
  text-align: center;
}

.check {
  background: transparent;
  display: flex;
  margin-left: 13px;
}

.delete-button {
  background-color: transparent;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 0;
}

.icon {
  transform: scale(1.2);
  background: transparent;
}

.edit {
  background: transparent;
  font-size: 25px;
  margin-left: 15px;
  align-self: center;
  cursor: pointer;
}

.edit-input {
  background: transparent;
  border: none;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #181818;
  outline: none;
}
