.show-one-task {
  background-color: #053130;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-size: 1.1rem;
  transition: all 0.3s;
}

.show-one-task:hover {
  background-color: #0d5e50;
  cursor: pointer;
  scale: 1.01;
}
